


img {
    width: 100px;
    height: auto;
}



.share_header {
    
   
    position: fixed;
    top: 0;
    
   
 display: flex;
 justify-content: center;
 
 align-items: center;
 flex-direction: row;

 background-image: linear-gradient(-90deg, #fbfdfc, rgb(152, 222, 235));
 width: 100vw;
 height: 60px;
 /* box-shadow: 0px -9px 18px 14px rgb(240, 240, 240); */
 
}

.form_wrapper h1 {
    font-size: 1.8rem;
    font-weight: 500;
    
}

form h1 {
    margin-left: 5%;
}

.form_wrapper {
    
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    width: 100vw;
    height: 130vh;
    font-family: 'Fira Sans', sans-serif;
    

}

.form_container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
   
   
}

form input {
    margin-left: 5%;
}
.form_icons_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    font-family: 'Fira Sans', sans-serif;
   
    
}

.food_icons_container {
   
    display: flex;
    flex-direction: row;
    width: 100vw;
    
    
    justify-content: space-evenly;
    
    font-family: 'Fira Sans', sans-serif;

   
}

.icon_names {

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   
   width: 100vw;
   /* background-color: rgb(255, 238, 0); */
   width: 100vw;
}

.icon_names>p {
    margin: 5%;
    font-family: 'Fira Sans', sans-serif;
    
}

.input_wrapper {
    padding-top: 3%;
    background-color: white;
    box-shadow: 0px -9px 18px 0px rgb(224, 224, 224);
    padding-bottom: 8%;
    
}

textarea {
    
    resize: none;
    border: .5px solid rgb(238, 238, 238);

    font-size: 1.2rem;
    
    
    border: .5px solid rgb(219, 219, 219);
   border-radius: 5px;
   margin-left: 5%;
   font-family: 'Fira Sans', sans-serif;
   
  }

  .add_image_container {

    
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 15em;
     font-family: 'Fira Sans', sans-serif;
     
  }

  .button_wrapper {
      
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .add_button {
      
      

      border-radius: 5px;
      width: 300px;
      height: 60px;
      
      font-size: 1.5rem;
      color: white;
      background-color: rgb(97, 212, 233);
      
  }