

img {
    width: 100px;
    height: auto;
}



.share_header {
 display: flex;
 justify-content: center;
 
 align-items: center;
 flex-direction: row;

 background-color: rgb(253, 253, 253);
 /* background: linear-gradient(0deg, rgba(55,179,74,1) 0%, rgba(12,154,70,1) 24%, rgba(0,147,69,1) 43%, rgba(0,104,56,1) 77%); */
 width: 100vw;
 height: 60px;
 /* box-shadow: 0px -9px 18px 14px rgb(240, 240, 240); */
 
}

.form_wrapper h1 {
    font-size: 1.4rem;
    font-weight: 500;
    
}

form h1 {
    margin-left: 5%;
}

.form_wrapper {
    
    display: flex;
    flex-direction: column;
    /* background-color: tomato; */
    width: 100vw;
    height: 100%;
    padding-bottom: 2rem;;
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    

}

.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Fira Sans', sans-serif;
    
   
   
}

form input {
    margin-left: 5%;

}
.form_icons_wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    font-family: 'Fira Sans', sans-serif;
   
    
}

.food_icons_container {
   
    display: flex;
    flex-direction: row;
    width: 100vw;
   
    
    
    justify-content: space-evenly;
    
    font-family: 'Fira Sans', sans-serif;
    

   
}

.food_icons_container img {
   
    width:auto;
    height: 4.5rem;

   
}

.icon_names {

   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   
   width: 100vw;
   /* background-color: rgb(255, 238, 0); */
   width: 100vw;

   color: #0c9a46;
   font-weight: 500;
   font-size: 1.4rem;
   margin-top: -1rem;;
   margin-bottom: 1rem;
}

.icon_names>p {
    margin: 5%;
    font-family: 'Fira Sans', sans-serif;
    background-color: white;
    
}

.input_wrapper {
    margin-top: -1rem;
    background-color: white;
    box-shadow: 0px -9px 18px 0px rgb(255, 255, 255);
    padding-bottom: 8%;
    
}

textarea {
    
    resize: none;
    border: .5px solid rgb(238, 238, 238);

    font-size: 1.2rem;
    
    
    border: .5px solid rgb(219, 219, 219);
   border-radius: 5px;
   margin-left: 5%;
   font-family: 'Fira Sans', sans-serif;
   width:87vw;;
   
  }

  .add_image_container {

    
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 1rem;
     height: 14rem;
     font-family: 'Fira Sans', sans-serif;
     
  }

  .add_image_container img{

    
     
padding-top: 0.5rem;
padding-left: 0.5rem;
padding-bottom: 1rem;;
    
 }

  .button_wrapper {
      
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .add_button {
      
      
    margin-top: -1rem;
      border-radius: 15px;
      width: 250px;
      height: 60px;
      
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: white;
      background: rgb(55,179,74);
      background: linear-gradient(0deg, rgba(55,179,74,1) 0%, rgba(12,154,70,1) 24%, rgba(0,147,69,1) 43%);
      
  }