.category_wrappers {
    width: 100vw;
    height: 6.1rem;;
    display: flex;
    flex-direction: row;
 
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(253, 253, 253);


    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;

    -webkit-box-shadow: -1px 73px 44px 34px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px 73px 44px 34px rgba(0,0,0,0.32);
    box-shadow: -1px 73px 44px 34px rgba(0,0,0,0.32);

  


}


.Category_names {
    display: flex;
    flex-basis: 1;
}

.Category_names p {
    
    margin: -0.1rem;
    
    display: flex;
    flex-direction: row;
    
    color: #0c9a46;
    font-weight: 500;
    font-size: 0.9rem;


}


.Share {
    width: 1.7rem;
    height: 1.7rem;
    padding: .5rem;
    border-radius: 33px;
    border: solid 3.5px #37b34a;
    
}

.Apple {
    width: 2.5rem;
    height: 2.5rem;
}
 
.Items {
    width: 2.5rem;
    height: 2.5rem;
}