
body {
    /* background-color: rgb(251, 251, 251); */
    background: rgb(205,205,205);
    background: linear-gradient(0deg, rgba(205,205,205,1) 0%, 
    rgba(244,244,244,1) 20%, rgba(255,255,255,1) 50%, 
    rgba(240,240,240,1) 80%, rgba(231,231,231,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* header {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: #ffffff;

    

    

    
    
    
} */



/* .add_listing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #00ff55;
    
    width: 40vw;    
    height: 40vw;
    border-radius: 20px;
    background-color: rgb(238, 252, 255) ;

    border: 3px solid #37b34a;
    
} */

.Message_container {
    
    height: 13vh;
    width: 100vw;
    /* margin-top: 1vh;
     */
    font-family: 'Fira Sans', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #00ff55;; */
     /* background-image: linear-gradient(-90deg, #fbfdfc, rgb(152, 222, 235)); */
    /* background-image: linear-gradient(-90deg, #00ff55, yellow); */
     /* background-color: rgb(12, 70, 136); */
     /* box-shadow: 0px -9px 18px 14px rgb(236, 236, 236); */
   
    font-size: 1rem;
    background-color: rgb(253, 253, 253);

    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;

    -webkit-box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);
    box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);
}



.Trovelogo {
    height: auto;
    width: 45vw;
    margin-bottom: 0.75rem;;
}




.home_listing_wrap {

    display: flex;
   
    flex-wrap: wrap;

    justify-content: space-evenly;


   padding-bottom: 5rem;
   padding-top: 7.5rem;
    height: 100vh;
    width: 100vw;
   /* background-color: rgb(255, 255, 255); */
   height: auto;
   background-color: rgba(245, 245, 245, 0);
}




.home_listing_container {
    
    display: flex;
   
    justify-content: center;
    margin: 20%;
    
  
}


.data_container {
    
    
    box-shadow: 0px 2px 5px 1px #cccccc;
   
   margin-bottom: 5%;
    width: 42vw;    
    height: 42vw;
    box-shadow: black;
    /* background-color: white; */
    background-color: rgb(0, 0, 0);
    border: solid 3.5px #cacaca;
   
    
    border-radius: 10px;

    font-family: 'Fira Sans', sans-serif;

    position: relative;
    overflow: hidden;
   
}

.data_container img {
    min-width: 100%;
    min-height: 100%;
    opacity: 1;

 }

.data_container h2 {
    width: 100%;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 70%;
    z-index: 10;
    position: absolute;
    z-index: 999;
    text-align: left;
    bottom: -1rem;
    left: 0rem;
    color: rgb(241, 241, 241);
    font-size: 1.1rem;
    letter-spacing: 0.06em;
    
}


input {

    font-family: 'Fira Sans', sans-serif;
    /* border: 2px solid #37b34a; */
    border: 3.5px solid #37b34a;

   width: 80vw;
   height: 1.3rem;
   border-radius: 30px;
   
   /* box-shadow: 0px 2px 5px 1px #dadada; */

}

input::placeholder {
    
    
    /* font-size: 1.2rem; */
    text-align: center;
    color: #b3b3b3;
  }

  input[type="text"]
{
    font-size: 0.9rem;
    
    text-indent: 20px;
}


/* .Message_container>h2 {
   margin-right: 10%;
   font-weight: 500;
   font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 2rem;
} */

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: .3s;
    
}

