
body {
    background-color: rgb(241, 241, 241);
}

/* header {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: #ffffff;

    

    

    
    
    
} */

.add_listing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #00ff55;
    margin: 2%;
    width: 40vw;    
    height: 70vw;
    border-radius: 20px;
    background-color: rgb(238, 252, 255) ;

    border: 1px solid #00ff55;
    
}

.category_wrappers {
    width: 100vw;
    display: flex;
    flex-direction: row;
 
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;

}

.Category_names {
    
    
    display: flex;
    justify-content: space-around;
    
   
   
    margin-left: 8%;
    margin-right: 8%;
    margin-top: -5%;
    
   
    
}



.food_button {

    width: 90px;
    height: 90px;
    
    border-radius: 50px;
    background: url(../images/shopping-bag.png) no-repeat left top;
    background-size: cover;
    background-color:  rgb(152, 222, 235);

  
}
.items_button {
    width: 90px;
    height: 90px;
    
    border-radius: 50px;
    background: url(../images/household\ \(1\).png) no-repeat left top;
    background-size: cover;
    background-color:  rgb(152, 222, 235);

}
 




.home_listing_wrap {

    display: flex;
   
    flex-wrap: wrap;

    justify-content: space-evenly;
   
    height: 100vh;
    width: 100vw;
   
}


.home_listing_container {
    
    display: flex;
   
    justify-content: center;
    margin: 20%;
    
  
}


.data_container {
    
    
    box-shadow: 0px 2px 5px 1px #cccccc;
   
    margin: 2%;
    width: 40vw;    
    height: 70vw;
    box-shadow: black;
    background-color: white;
   
    
    border-radius: 20px;

    font-family: 'Fira Sans', sans-serif;

    

}



input {

    font-family: 'Fira Sans', sans-serif;
        border: .5px solid rgb(219, 219, 219);

   width: 90vw;
   height: 2.5em;
   border-radius: 5px;
   
   /* box-shadow: 0px 2px 5px 1px #dadada; */

}

input::placeholder {
    
    
    /* font-size: 1.2rem; */
    text-align: center;
  }

  input[type="text"]
{
    font-size: 1.2rem;
    
    text-indent: 10px;
}

.Message_container {

    
    
    height: 30vh;
    
    font-family: 'Fira Sans', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #00ff55;; */
     background-image: linear-gradient(-90deg, #fbfdfc, rgb(152, 222, 235));
    /* background-image: linear-gradient(-90deg, #00ff55, yellow); */
     /* background-color: rgb(12, 70, 136); */
     /* box-shadow: 0px -9px 18px 14px rgb(236, 236, 236); */
    font-size: 1rem;
}

.Message_container>h2 {
   margin-right: 10%;
   font-weight: 500;
   font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 20%;
}

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: .3s;
    
}

