
body {
    background-color: rgb(251, 251, 251);
}

/* header {
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: #ffffff;

    

    

    
    
    
} */



/* .add_listing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: #00ff55;
    
    width: 40vw;    
    height: 40vw;
    border-radius: 20px;
    background-color: rgb(238, 252, 255) ;

    border: 3px solid #37b34a;
    
} */

.Message_container {
    
    height: 16vh;
    /* margin-top: 1vh;
     */
    font-family: 'Fira Sans', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #00ff55;; */
     /* background-image: linear-gradient(-90deg, #fbfdfc, rgb(152, 222, 235)); */
    /* background-image: linear-gradient(-90deg, #00ff55, yellow); */
     /* background-color: rgb(12, 70, 136); */
     /* box-shadow: 0px -9px 18px 14px rgb(236, 236, 236); */
   
    font-size: 1rem;
}



.Trovelogo {
    height: auto;
    width: 50vw;
    margin-bottom: 1rem;;
}


.category_wrappers {
    width: 100vw;
    display: flex;
    flex-direction: row;
 
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2vh;

}

.Category_names {
    
    
    display: flex;
    justify-content: space-around;
    
   
   
    margin-left: 1.8rem;
    margin-right: 2.5rem;
    margin-top: -8.5%;
    color: #0c9a46;
    font-weight: 500;
    font-size: 0.9rem;
    
   
    
}

.Share {
    width: 2rem;
    height: 2rem;
    padding: .5rem;
    border-radius: 33px;
    border: solid 3.5px #37b34a;
    
}

.Apple {
    width: 3rem;
    height: 3rem;
}
 
.Items {
    width: 3rem;
    height: 3rem;
}




.home_listing_wrap {

    display: flex;
   
    flex-wrap: wrap;

    justify-content: space-evenly;
   
    height: 100vh;
    width: 100vw;
   /* background-color: rgb(255, 255, 255); */
   height: auto;
   padding-top: 5%;
   border-top: 1px solid rgb(212, 212, 212);
}




.home_listing_container {
    
    display: flex;
   
    justify-content: center;
    margin: 20%;
    
  
}


.data_container {
    
    
    box-shadow: 0px 2px 5px 1px #cccccc;
   
   margin-bottom: 5%;
    width: 40vw;    
    height: 40vw;
    box-shadow: black;
    /* background-color: white; */
    background-color: rgb(0, 0, 0);
    border: solid 3.5px #cacaca;
   
    
    border-radius: 10px;

    font-family: 'Fira Sans', sans-serif;

    position: relative;
    overflow: hidden;
   
}

.data_container img {
    min-width: 100%;
    min-height: 100%;
    opacity: 1;

 }

.data_container h2 {
    width: 6.8rem;
    padding: 0.3rem;
    background-color: rgba(0, 0, 0, 0.568);
    margin-top: 70%;
    z-index: 10;
    position: absolute;
    z-index: 999;
    text-align: left;
    bottom: -0.2rem;
    left: 1rem;
    color: rgb(241, 241, 241);
    font-size: 1.1rem;
    letter-spacing: 0.06em;
    
}


input {

    font-family: 'Fira Sans', sans-serif;
    /* border: 2px solid #37b34a; */
    border: 3.5px solid #37b34a;

   width: 80vw;
   height: 1.5rem;
   border-radius: 30px;
   
   /* box-shadow: 0px 2px 5px 1px #dadada; */

}

input::placeholder {
    
    
    /* font-size: 1.2rem; */
    text-align: center;
    color: #b3b3b3;
  }

  input[type="text"]
{
    font-size: 0.9rem;
    
    text-indent: 20px;
}


/* .Message_container>h2 {
   margin-right: 10%;
   font-weight: 500;
   font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    margin-top: 2rem;
} */

.fadeOut{
    opacity:0;
    width:0;
    height:0;
    transition: .3s;
    
}

