html{
    background-color: white;
}
.listing_image {
    min-width: 100%;
    margin-top: 5rem;
}



/* .image_box {
    width: 100vw;
    height: 40vh;
    
    overflow: hidden;
    border-bottom: 2px solid rgb(197, 197, 197);
    
} */



.listing_wrapper {
   display: flex;
   flex-direction: column;
   padding: 5%;
   width: 90vw;
   font-family: 'Fira Sans', sans-serif;
   background-color: rgb(255, 255, 255);
   white-space: pre-wrap;
   text-align: left;
   
   
}

.lisitng_title hr {
    


    border: 5px solid red;

    
}

.action_message {
    background-color: rgb(215, 255, 223);
    border-radius: 10px;
    padding: 5%;
    
}

.listing_wrapper h1 {
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(97, 97, 97);
}

.listing_wrapper h2 {
    font-weight: 500;
    color: rgb(129, 129, 129);
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3rem;
    min-height: 10rem;
}

.contact_box_container {


   background-color: rgb(255, 255, 255);
   width: 100vw;
   height: 4rem;
    
    display: flex;
    flex-direction: row;
    
    
    align-items: center;
    justify-content: space-around;

    margin-bottom: 6.25rem;
    
}

.contact_box_container p {
    position: absolute;
    left: 20px;
    bottom: 100px;
}

.contact_box_container h2 {
    position: absolute;
    right: 50px;
    bottom: 15px;
    font-size: 1.3rem;
}

.skylight_container input {
    width: 90%;
}


.delete_button {
    background-color: rgb(0, 138, 0);
    border: none;
    color: white;
    outline: none;
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
  
   
}







