



.page_margin {
    margin-top: 5rem;;
}

.remove_fixed {
    position: unset;
}

.share_header{
    height: 5rem;
    width: 100vw;

    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;

    -webkit-box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);
    box-shadow: -1px -21px 26px 24px rgba(0,0,0,0.51);

}

 .share_header_wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: center;
    
   
   
}

.share_header  {

    display: flex;
    
    border: 1px solid greenyellow;
    width: 100vw;


}


.share_header img {
    width: 1rem;
    height: auto;
    margin-left: 50px;
   
    position: absolute;
    left: -10%;
    
}


.listing_box_wrapper {
    display: flex;
    flex-direction: column;
   background-color: white;
   ;
   box-shadow: 0px 5px 8px 2px #e6e6e6;

}

.listing_box_container {

    display: flex;

    padding: 3%;
    
    
    border: 1px solid rgb(224, 224, 224);
    height: 100px;
}

.listing_details_container {

margin-left: 5%;

display: flex;
justify-content: space-evenly;
flex-direction: column;


}

.listing_details_container h2 {
    letter-spacing: 0.02rem;
    font-weight: 600;
    font-size: 1.4rem;
    color: rgb(97, 97, 97);
}

.listing_details_container h3 {
    letter-spacing: 0.02rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(160, 160, 160);
}

.listing_box_container img {
    min-width: 100px;
    max-height: auto;

    
}